In [1]:
import pandas as pd
import os

In [2]:
results_folder = "../results/"

In [3]:
config_table = pd.read_csv(os.path.join(results_folder, "config_index.csv"))
config_table = config_table.set_index('config_idx')

In [4]:
config_table

,in_dim,hidden_dim,out_dim,k,dataset,ds_size,num_gondolas,num_part_pg,loss_name,optimizer_name,num_max_epochs,learning_rate,batch_size,early_stop_tol,use_equal_batcher,seed,label_type,final_label_factor
config_idx,,,,,,,,,,,,,,,,,,
0,15,128,1,2,0,10000,10,5,mse,adam,100,0.001000,1024,5,False,420,default,0.001
1,15,128,1,2,0,10000,10,5,mse,adam,100,0.001000,1024,5,False,420,tree,0.001
2,15,128,1,1,0,10000,10,5,mse,adam,100,0.001000,1024,5,False,420,tree,0.001
3,15,128,1,3,0,10000,10,5,mse,adam,100,0.001000,1024,5,False,420,tree,0.001
4,15,128,1,4,0,10000,10,5,mse,adam,100,0.001000,1024,5,False,420,tree,0.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,15,224,1,5,-1,10000,10,5,mse,adam,300,0.004247,1024,5,True,420,tree,0.001
116,15,416,1,5,-1,10000,10,5,mse,adam,300,0.002082,1024,5,True,420,tree,0.001
117,15,288,1,4,-1,10000,10,5,mse,adam,300,0.002537,1024,5,False,420,default,0.001
118,15,320,1,3,-1,10000,10,5,mse,adam,300,0.002380,1024,5,False,420,default,0.001
119,15,256,1,5,-1,10000,10,5,mse,adam,300,0.004105,1024,5,False,420,default,0.001

In [6]:
for idx in config_table.index:
    assert False

    df_path = os.path.join(results_folder, str(idx), "accuracies.csv")
    df = pd.read_csv(df_path)

    for score in ["loss", "mse", "msa", "explained_variance", "r2"]:
        if f"val_{score}" in df.columns:
            assert df[f"test_{score}"].sum() == 0
            df[f"test_{score}"] = df[f"val_{score}"]

            df.drop([f"val_{score}"], axis=1, inplace=True)

    df.to_csv(df_path, index=None)