In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# define path for dataset
dataset_path = "."
df_name = "Sleep_health_and_lifestyle_dataset.csv"

In [4]:
df_path = os.path.join(dataset_path, df_name)

In [14]:
columns=[
    'id', 'gender', 'age', 'occupation', 'sleep_duration', 'sleep_quality', 'physical_activity', 'stress_level', 'bmi', 'blood_pressure', 'heart_rate', 'daily_steps', 'sleep_disorder'
]

In [19]:
# load dataset
df = pd.read_csv(df_path, names=columns, header=0)

In [20]:
df.head()

,id,gender,age,occupation,sleep_duration,sleep_quality,physical_activity,stress_level,bmi,blood_pressure,heart_rate,daily_steps,sleep_disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [22]:
df.sleep_disorder.fillna('No', inplace=True)

In [23]:
df.head()

,id,gender,age,occupation,sleep_duration,sleep_quality,physical_activity,stress_level,bmi,blood_pressure,heart_rate,daily_steps,sleep_disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,No
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,No
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,No
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [25]:
bmi_dict = {
    'Normal': 0,
    'Normal Weight': 1,
    'Overweight': 2,
    'Obese': 3
}

In [27]:
df.bmi = df.bmi.map(bmi_dict)

In [28]:
df.head()

,id,gender,age,occupation,sleep_duration,sleep_quality,physical_activity,stress_level,bmi,blood_pressure,heart_rate,daily_steps,sleep_disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,2,126/83,77,4200,No
1,2,Male,28,Doctor,6.2,6,60,8,0,125/80,75,10000,No
2,3,Male,28,Doctor,6.2,6,60,8,0,125/80,75,10000,No
3,4,Male,28,Sales Representative,5.9,4,30,8,3,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,3,140/90,85,3000,Sleep Apnea

In [31]:
df['blood_pressure1'] = df.blood_pressure.map(lambda x: int(x.split('/')[0]))
df['blood_pressure2'] = df.blood_pressure.map(lambda x: int(x.split('/')[1]))

In [34]:
df.head()

,id,gender,age,occupation,sleep_duration,sleep_quality,physical_activity,stress_level,bmi,blood_pressure,heart_rate,daily_steps,sleep_disorder,blood_pressure1,blood_pressure2
0,1,Male,27,Software Engineer,6.1,6,42,6,2,126/83,77,4200,No,126,83
1,2,Male,28,Doctor,6.2,6,60,8,0,125/80,75,10000,No,125,80
2,3,Male,28,Doctor,6.2,6,60,8,0,125/80,75,10000,No,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,3,140/90,85,3000,Sleep Apnea,140,90
4,5,Male,28,Sales Representative,5.9,4,30,8,3,140/90,85,3000,Sleep Apnea,140,90

In [35]:
df = df.drop("blood_pressure", axis=1)

In [48]:
occ = df.occupation.unique()
occ = dict(zip(occ, np.arange(len(occ))+1))

In [49]:
df.occupation = df.occupation.map(occ)

In [50]:
df.head()

,id,gender,age,occupation,sleep_duration,sleep_quality,physical_activity,stress_level,bmi,heart_rate,daily_steps,sleep_disorder,blood_pressure1,blood_pressure2
0,1,Male,27,1,6.1,6,42,6,2,77,4200,No,126,83
1,2,Male,28,2,6.2,6,60,8,0,75,10000,No,125,80
2,3,Male,28,2,6.2,6,60,8,0,75,10000,No,125,80
3,4,Male,28,3,5.9,4,30,8,3,85,3000,Sleep Apnea,140,90
4,5,Male,28,3,5.9,4,30,8,3,85,3000,Sleep Apnea,140,90

In [52]:
sleep_dict = {
    'No': 0,
    'Sleep Apnea': 1,
    'Insomnia': 2
}

In [53]:
df.sleep_disorder = df.sleep_disorder.map(sleep_dict)

In [54]:
df.head()

,id,gender,age,occupation,sleep_duration,sleep_quality,physical_activity,stress_level,bmi,heart_rate,daily_steps,sleep_disorder,blood_pressure1,blood_pressure2
0,1,Male,27,1,6.1,6,42,6,2,77,4200,0,126,83
1,2,Male,28,2,6.2,6,60,8,0,75,10000,0,125,80
2,3,Male,28,2,6.2,6,60,8,0,75,10000,0,125,80
3,4,Male,28,3,5.9,4,30,8,3,85,3000,1,140,90
4,5,Male,28,3,5.9,4,30,8,3,85,3000,1,140,90

In [55]:
df['gender_male'] = df.gender.map(lambda x: x=='Male')
df['gender_female'] = df.gender.map(lambda x: x=='Female')

In [0]:
df['gender_other'] = df.gender_female==df.gender_male

In [61]:
df = df.drop('gender', axis=1)

In [62]:
df.head()

,id,age,occupation,sleep_duration,sleep_quality,physical_activity,stress_level,bmi,heart_rate,daily_steps,sleep_disorder,blood_pressure1,blood_pressure2,gender_male,gender_female,gender_other
0,1,27,1,6.1,6,42,6,2,77,4200,0,126,83,True,False,False
1,2,28,2,6.2,6,60,8,0,75,10000,0,125,80,True,False,False
2,3,28,2,6.2,6,60,8,0,75,10000,0,125,80,True,False,False
3,4,28,3,5.9,4,30,8,3,85,3000,1,140,90,True,False,False
4,5,28,3,5.9,4,30,8,3,85,3000,1,140,90,True,False,False

In [63]:
new_file_name = "health_dataset_preprocessed-1.csv"

In [69]:
df.to_csv(os.path.join(dataset_path, new_file_name), index=False)

In [73]:
import pandas as pd
import os
from etnn.data.prepare_ferris_wheel import prepare_1_ferris

In [71]:
df = prepare_1_ferris(
    ".",
    "health_dataset_preprocessed-1.csv"
)

In [72]:
df.head()

,id,age,occupation,sleep_duration,sleep_quality,physical_activity,stress_level,bmi,heart_rate,daily_steps,sleep_disorder,blood_pressure1,blood_pressure2,gender_male,gender_female,gender_other
0,1,27,1,6.1,6,42,6,2,77,4200,0,126,83,True,False,False
1,2,28,2,6.2,6,60,8,0,75,10000,0,125,80,True,False,False
2,3,28,2,6.2,6,60,8,0,75,10000,0,125,80,True,False,False
3,4,28,3,5.9,4,30,8,3,85,3000,1,140,90,True,False,False
4,5,28,3,5.9,4,30,8,3,85,3000,1,140,90,True,False,False